<h2>Permis gratuit pentru pescuit sportiv</h2>
<font size="2">Campurile marcate cu <span class="text-danger">*</span> sunt obligatorii. Asigurati-va ca toate datele dvs sunt corecte si informatiile sunt complete!</font><br>

    <div class="row mt-4">
        <div class="col-md-12">

            <div class="form-row">
                <div class="form-group col-md-8">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fn">Prenume</label><span class="text-danger">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon"><i class="far fa-user"></i></span>
                                </div>
                                <input id="fn" name="firstName" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ln">Nume<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="ln" name="lastName" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="mail">Email (o singura adresa fara diacritice)</label><span class="text-danger">*</span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="email" class="form-control" id="mail" name="email" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phn">Telefon</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon"><i class="fas fa-phone-square"></i></span>
                                </div>
                                <input class="form-control" id="phn" name="phone" required>
                            </div>
                            </div>
                        </div>

                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="vl" name="lblIdentif">Identificator act de identitate (CNP / Passport)</label><span class="text-danger">*</span>
                        </div>
                    </div>
                    <div class="form-row" id="dvCNP">
                        <div class="form-group col-md-4">
                            <input id="inpCNP" name="cnp" type="text" class="form-control" placeholder="CNP" required>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">RO </span>
                                </div>
                                <input id="c1" name="country1" type="text" class="form-control" value="Romania">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="or" name="cityResidence1" class="form-control" placeholder="Localitate de resedinta">
                        </div>
                    </div>

                    <div class="form-row" id="dvPassport" style="display:none;">
                        <div class="form-group col-md-4">
                            <input id="inpPassport" name="passport" type="text" class="form-control" placeholder="Passport No">
                        </div>
                        <div class="form-group col-md-3">
                            <input name="country2" type="text" class="form-control" placeholder="Country">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" name="cityResidence2" placeholder="Residence Locality">
                        </div>
                        <div class="form-group col-md-2">
                            <select class="form-control" name="gender">
                                <option value="M"> M - Male </option>
                                <option value="F"> F - Female </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        &nbsp; <button class="btn btn-success" type="submit"> <i class="fas fa-server"></i>&nbsp;TRIMITERE </button> &emsp;
                        <!--&nbsp; <button class="btn btn-success" type="submit" formaction="SaveInCart" formmethod="post" id="btnCart"> <i class="fas fa-cart-plus"></i>&nbsp;SALVARE IN COS </button> &emps;-->
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div style="margin-left:16px; border-left: 1px dotted blue; padding-left: 16px; text-align:justify;">
                        » Respectarea strictă a traseelor aprobate cu excepţia cazurilor de forţă majoră;<br>
                        » Permisul de pescuit recreativ / sportiv are valabilitate în toate zonele de pescuit recreativ / sportiv din perimetrul Rezervaţiei Biosferei "Delta Dunării" cu excepţia zonelor strict protejate; <br>
                        » Activitatea de pescuit recreativ / sportiv se desfăşoară cu respectarea condiţiilor stabilite în Regulamentul de practicare a pescuitului recreativ / sportiv, prevăzut conform Ordinului ministrului  agriculturii şi dezvoltării rurale Nr. 159 / 1266 din 2011 privind condiţiile de practicare a pescuitului  recreativ / sportiv; <br>
                        » Falsificarea permisului de pescuit recreativ / sportiv se pedepseşte conform legii; <br>
                        » Deteriorarea permisului de pescuit recreativ / sportiv atrage după sine invalidarea acestuia.
                    </div>
                </div>
            </div>

        </div>
    </div>

