<div class="fg mt-4">

    <p>
        Permisul de acces turist este gratuit pentru elevi, studenţi, pensionari, veterani de
        război, foşti deţinuţi politici, persoane cu handicap, persoane fizice care au domiciliul în
        perimetrul rezervaţiei sau în localităţile limitrofe (localităţi care au terenul administrativ
        integral sau parţial în interiorul rezervaţiei).
    </p>
        <font size="3" color="black">
            <b>Lista localităților limitrofe RBDD</b>
            <br>
            <b>Județul Tulcea:</b> Tulcea, Parcheș, Somova, Mineri, Isaccea, Luncavița, Grindu, Nufăru, Malcoci, Victoria, Băltenii de Sus, Beștepe, Mahmudia, Murighiol, Dunăvățu de Sus, Dunăvățu de Jos, Sarinasuf, Colina, Plopu, Valea Nucarilor, Agighiol, Sabangia, Zebil, Babadag, Sarichioi, Enisala, Sălcioara, Jurilovca, Lunca, Ceamurlia de Jos, Vișina, Baia
            <br>
            <b>Județul Constanța:</b> Năvodari, Mihai Viteazu, Istria, Nuntași, Săcele, Corbu, Vadu
            <br>
            <b>Județul Galați:</b> Galați
        </font>
    <br><br><br>

    <strong><u>Despre Administraţia Rezervaţiei Biosferei Delta Dunarii</u></strong><br><br>
    Odata cu declararea Rezervatiei Biosferei Delta Dunarii (1990) a fost înfiintata si institutia pentru administrarea patrimoniului natural din 
    domeniul public de interes national al Rezervatiei, precum si pentru   refacerea si protectia unitatilor fizico-geografice de pe teritoriul 
    RBDD – Administratia Rezervatiei Biosferei Delta Dunarii (ARBDD).
    <p></p>

    <p>
        Administrarea
        Rezervatiei Biosferei Delta Dunarii este un proces complex si se
        deosebeste de administrarea publica ce se exercita în unitatile
        administrative din perimetrul rezervatiei cu care conlucreaza. Pe
        teritoriul rezervatiei se disting terenuri apartinând domeniului public
        de interes national, terenuri apartinând domeniului public de interes
        judetean, si local, precum si terenuri apartinând domeniului privat.
        Acestea sunt incluse în cele 8 unitati administrative din rezervatie, 7
        comune si un oras (Sulina).
    </p>
    <div class="clear"></div>
</div>